
*{
    padding: 0;
    margin: 0;
}
nav{
    /* background-color: #261966; */
    backdrop-filter: blur(20px);
    color: white;
   
}
.nav-item .nav-link{
    color: white;
}
.nav-item .nav-link{
    color: white;
}
.nav-item .nav-link:hover{
    color: orangered;
}
.home-heading1{
  padding: 150px;
  /* width:4%; */
  color: white;
  
}
.home{
    background-image: url("img/hero_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
   
}

.click{
    background-color:#f34b52;
    border: none;
    color: white;
    text-align: center;
    font-size: 26px;
    width: 20%;
    border-radius: 30px;
    font-weight: bold;
    height: 50px;

}  
.about{
    background-color: #0d0a1b;
    /* height: 800vh; */
    padding: 150px;
    gap: 20px;
}
.about h1{
    font-size: 40px;
}
.about-heading{
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.about-para{
    color:rgb(106, 106, 106);
    width: 60%;
}
.about-numb{
    color: #42d1f6;
    font-size: 90px;
    font-weight: bold;
}
.about-para2{
    color: #676570;
}
.home-heading1 h1{
    font-size: 40px;
    font-weight: bold;
}
.our-way{
    background-color:#0d0a1b;
    
   
}

.ourway-subhead{
    
    padding-left: 80px;
}
.our-way-list{
    color:white ;
    margin-left: 80px;
    font-size: 60px;
    /* font-weight: 900; */
    padding-left: 80px;
   
   
}
.our-way-next p{
    color: white;
    width: 80%;
    height: 50vh;
    text-align: center;
    padding: 60px;
    font-size: 20px;
    
}
.our-way-next {
    background-color: #141122;
    width: 40%;
    border-radius: 5%; 
}

.our-way-list .edu:hover{
    color: #41d8f6;
}

.our-way-list .enga:hover{
    color: #41d8f6;
}

.our-way-list .elev:hover{
    color: #41d8f6;
}
.products{
    background-color: #0d0a1b;
    color: white;
    padding: 100px;
}
.product-subhead{
    color:#2d2a39;

    
}

.product-items{
    padding: 40px;
}
.sect1 p{
    color: #44424f;
    width: 80%;
    /* margin-left: 100px; */
    padding-left: 100px;
    
}
.sect1{
    background-color: #141122;
    width: 30%;
    height: 40vh;
    border-radius: 5%;
    
}
 .sect1 h3{

    text-align: center;
    padding: 30px;
}
.sect2 p{
    color: #44424f;
    width: 80%;
    /* margin-left: 100px; */
    padding-left: 90px;
    
}
.sect2{
    background-color: #141122;
    width: 30%;
    height: 40vh;
    margin-right: 90px;
    gap: 2%;
    border-radius: 5%;
   
}
 .sect2 h3{

    text-align: center;
    padding: 30px;
}
.product-items{
    gap:10%;
}
.sect1:hover{
    background-color: #bc920c;
}
.sect2:hover{
    background-color:#554a99;
}
.partners-list{
    display: flex;
    flex-wrap: wrap;
    color: #676570;
    padding: 50px;
    
}
.partners-company{
    width: 33%;
    padding-bottom: 40px;
    text-align: center;
}
.partners{
    background-color: #0d0a1b;
}
.partners-list img{
    width: 70%;
   
    

}

.contactus{
    background-color: #0d0a1b;
}

.contact-subhead{
    padding-left: 80px;
    
}
.contactus img{
    width: 100%;
    height: 100%;
   
}
.contact-details{
    color: #0d0a1b;
    border: none;
    border-bottom: 2px solid honeydew;
    background-color: #0d0a1b;
   
    
    
    
}

.contact-item1 p{
    color: white;
    gap:20%;
}

.contanct-items2{
    padding-left: 150px;
   
    
}

.contact-item1{
    gap:10%;
    align-items: center;
}

.contanct-items1 p{
    color: white;
   
}
footer{
    background-color: #0d0a1b;
}
footer p{
    color: white;
}
footer h5 span{
    color: orangered;
    font-size: larger;
}
.lastsection{
    background-color: #0d0a1b;
    padding: 60px;
}
.lastsection p{
    color: white;
    text-align: center;
}

.our-way1{
gap:10%;
}